conceal:
  replacements:
    #greek letters
    "alpha": "α"
    "Alpha": "A"
    "beta": "β"
    "Beta": "B"
    "gamma": "γ"
    "Gamma": "Γ"
    "delta": "δ"
    "Delta": "Δ"
    "epsilon": "ε"
    "Epsilon": "E"
    "zeta": "ζ"
    "Zeta": "Ζ"
    "eta": "η"
    "Eta": "Η"
    "theta": "ϑ"
    "Theta": "Θ"
    "iota": "ι"
    "Iota": "Ι"
    "kappa": "κ"
    "Kappa": "Κ"
    "lambda": "λ"
    "Lambda": "Λ"
    "mu": "μ"
    "Mu": "Μ"
    "nu": "ν"
    "Nu": "Ν"
    "xi": "ξ"
    "Xi": "Ξ"
    "omicron": "ℴ"
    "Omicron": "o"
    "pi": "π"
    "Pi": "Π"
    "rho": "ρ"
    "Rho": "Ρ"
    "sigma": "σ"
    "Sigma": "Σ"
    "tau": "τ"
    "Tau": "Τ"
    "upsilon": "υ"
    "Upsilon": "ϒ"
    "phi": "ϕ"
    "Phi": "Φ"
    "chi": "χ"
    "Chi": "X"
    "psi": "ψ"
    "Psi": "Ψ"
    "omega": "ω"
    "Omega": "Ω"

