atom-text-editor::shadow {
  .line:not(.cursor-line) {
    .concealed {
      display: inline-block;
      visibility: hidden;

      &:before {
        content: attr(data-replacement);
        display: inline-block;
        visibility: visible;
        width: 0;
      }
    }
  }
}
